.navbar {
    position: relative;
    display: inline;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    margin-left: 20px;
    display: block;
    text-align: center;
    padding: 4px 10px;

}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color: tomato;
    transition: ease-in 0.2s;
}

.importantlist {
    float: left;
    padding-left: 5%;
    
}

.relativelist {
    float: left;
    padding-left: 5%;
    
}

.text {
    display: block;
    padding-top: 150PX;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #777;
    background-color:  #f9f9f9;
}

.container {
    padding-top: 2%;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formulaire {
    width: 100%;
    margin: 0 auto;
    position: relative;
}